---
layout: default
imagens_home:
- assets/img/w-t_home-images-07.png
sobre: "<p>WE ARE RUNNING OUT OF TIME is a project by ilhas studio. The aim is to
  organise a Visual Marathon that will take place during the Walk&amp;Talk Arts Festival,
  on July 24th in the island of São Miguel, Azores. The Marathon is divided in four
  courses (42,4 km, 22,4 km, 7 km and 3 km), passing through different trails in São
  Miguel. Anyone can participate - either by running or walking.</p><p>The idea behind
  this Visual Marathon is that one person alone can’t fight all injustice, but each
  one of us can give voice to at least one cause. The body of each participant will
  be a visual support, carrying a graphic piece designed by ilhas studio, based on
  the watchwords and causes submitted by the participants during the registration
  act.</p><p>WE ARE RUNNING OUT OF TIME is a project that defends intersectionality
  as a way of looking at the world, where art, sport and citizenship meet to generate
  spaces for encounter and dialogue.</p>"
sobre_vimeo: <iframe title="vimeo-player" src="https://player.vimeo.com/video/433933933"
  width="640" height="480" frameborder="0" allowfullscreen></iframe>
more_info: "<p>It is a Marathon of Urgency, that aims to unite the fights and causes
  of all those who choose to take part.</p><p>We will thus run together against the
  clock - because we are running out of time to fight for gender equality, against
  homophobia, against transphobia, against racism, to fight for a more sustainable
  world, for a world without war, for a world without hunger and without domestic
  violence. The more participants, and the more diverse we are, the more diverse and
  pressing our causes.</p><p>The marathon is divided into four courses, with different
  levels of intensity. Participants can choose which course they will participate
  in. Each course is an anchor of the project, and represents the causes of the collaborating
  associations and groups that stand alongside it. At the end of each course, the
  symbolic passing of a baton will take place.</p><p>-</p><p>The Marathon has 54 prizes
  in total, consisting of numbered and signed silkscreens. 42,4 km, 22,4 km, 7 km
  routes has 3 prizes, for the three genders taking part: female, male and non-binary.
  Likewise, for athletes with disabilities. The 3 km route doesn’t have prizes, since
  it is not being timed.</p><p>Part of the funds raised will be given to the different
  associations in São Miguel that participate and collaborate with the project.</p><p></p><p><br><br></p>"
percurso: "<p>The Marathon's route connects one of the most iconic places of São Miguel
  Island - the volcanic complex of Sete Cidades - to Complexo Desportivo da Relva.</p><p>This
  race is characterized by the eccentricity of running on the ridges of a volcano,
  through dirt roads, with some unevenness, but of easy technical level, and ends,
  through roads, in Complexo Desportivo da Relva.</p>"
descricoes_percurso:
- km: COURSE 3 km
  info: <p>Negative drop 0</p><p>Positive drop 80 m</p><p>Departure time 14h00</p><p>Departure
    Location - <a href="https://www.google.com/maps/place/37%C2%B044'05.3%22N+25%C2%B041'24.4%22W/@37.734793,-25.691205,18z/data=!3m1!4b1!4m9!1m2!2m1!1so+jorge,+ponta+delgada!3m5!1s0x0:0x0!7e2!8m2!3d37.7347933!4d-25.6901082?hl=pt-PT">Antigo
    Matadouro de Ponta Delgada</a></p><p>Arrival Location - <a href="https://www.google.pt/maps/place/37%C2%B045'00.2%22N+25%C2%B042'52.7%22W/@37.7500612,-25.716826,17z/data=!3m1!4b1!4m6!3m5!1s0x0:0x0!7e2!8m2!3d37.7500571!4d-25.7146324">Complexo
    Desportivo da Relva</a></p><p>Consult the details <a href="https://ridewithgps.com/routes/36466217">here</a></p><p><img
    src="assets/img/percurso_3km-small.png"><br></p>
- km: COURSE 7 km
  info: <p>Negative drop 220m</p><p>Positive climbing 34m</p><p>Start time 12h00</p><p>Departure
    Location- <a href="https://www.google.pt/maps/place/37%C2%B047'14.4%22N+25%C2%B046'10.1%22W/@37.7873322,-25.771662,731m/data=!3m2!1e3!4b1!4m9!1m2!2m1!1svigia+das+feteiras!3m5!1s0x0:0x0!7e2!8m2!3d37.7873285!4d-25.7694677">Miradouro
    da Vigia das Baleias das Feteiras</a></p><p>Arrival Location - <a href="https://www.google.pt/maps/place/37%C2%B045'00.2%22N+25%C2%B042'52.7%22W/@37.7500612,-25.716826,17z/data=!3m1!4b1!4m6!3m5!1s0x0:0x0!7e2!8m2!3d37.7500571!4d-25.7146324">Complexo
    Desportivo da Relva</a></p><p>Consult the details <a href="https://ridewithgps.com/routes/36459251">here</a></p><p><img
    src="assets/img/percurso_7km-small.png"><br></p>
- km: COURSE 22,4 km
  info: <p>Negative drop 957 m</p><p>Positive drop 289 m</p><p>Start time 11h00</p><p>Departure
    Location - <a href="https://www.google.pt/maps/place/Lagoa+do+Can%C3%A1rio/@37.8341773,-25.7646287,16z/data=!4m9!1m2!2m1!1sparque+lagoa+do+canario!3m5!1s0x0:0xd1b5d49b95582f66!8m2!3d37.8359581!4d-25.759479!15sChdwYXJxdWUgbGFnb2EgZG8gY2FuYXJpb5IBBHBhcms">Parque
    Lagoa do Canário - Sete Cidades</a></p><p>Arrival Location - <a href="https://www.google.pt/maps/place/37%C2%B045'00.2%22N+25%C2%B042'52.7%22W/@37.7500612,-25.716826,17z/data=!3m1!4b1!4m6!3m5!1s0x0:0x0!7e2!8m2!3d37.7500571!4d-25.7146324">Complexo
    Desportivo da Relva</a></p><p>Consult the details <a href="https://ridewithgps.com/routes/36459268">here</a></p><p><img
    src="assets/img/percurso_22-4km_small.png"><br></p>
- km: COURSE 42,4 km
  info: <p>Negative drop 1605 m</p><p>Positive climbing 937 m</p><p>Departure time
    9h00</p><p>Departure Location - <a href="https://www.google.pt/maps/place/Lagoa+do+Can%C3%A1rio/@37.8341773,-25.7646287,16z/data=!4m9!1m2!2m1!1sparque+lagoa+do+canario!3m5!1s0x0:0xd1b5d49b95582f66!8m2!3d37.8359581!4d-25.759479!15sChdwYXJxdWUgbGFnb2EgZG8gY2FuYXJpb5IBBHBhcms">Parque
    Lagoa do Canário - Sete Cidades</a></p><p>Arrival Location - <a href="https://www.google.pt/maps/place/37%C2%B045'00.2%22N+25%C2%B042'52.7%22W/@37.7500612,-25.716826,17z/data=!3m1!4b1!4m6!3m5!1s0x0:0x0!7e2!8m2!3d37.7500571!4d-25.7146324">Complexo
    Desportivo da Relva</a></p><p>Consult the details <a href="https://ridewithgps.com/routes/36459279">here</a></p><p><br><img
    src="assets/img/percurso_42-4km-small.png"></p>
imagem_percurso: ''
pessoas: "<p>Until 24 July we will share mini-documentaries that showcase key personalities
  in the fight for human rights and duties.</p><p>If Terry Fox was fundamental in
  raising awareness to the need to increase funds for cancer research, Marsha P. Johnson
  was fundamental in the fight for transgender rights, and Elizabeth Mpofu was crucial
  in making the world aware of the harmful effects of monocultures and the need to
  defend small producers and local trade.</p><p>The people selected belong to a wide
  variety of fields, from athletes, activists, scientists, farmers, etc. We call this
  series: 'People who ran in their time'.</p><p><br></p>"
intervencoes: '<p>In collaboration with several associations of São Miguel island:
  <a href="http://solidariedarte.pt/">Solidaried''arte Açores</a>, <a href="https://www.cresacor.pt/pt/">Cresaçor
  - Cooperativa Regional de Economia Solidária</a>, <a href="https://amarpeladiversidade.pt/">AMAR
  - Açores Pela Diversidade</a>, <a href="https://www.facebook.com/apfacores">APF
  - Associação de Planeamento Familiar</a>, <a href="http://prideazores.blogspot.com/">Pride
  Açores</a>, <a href="https://apav.pt/vd/index.php/apoio-a-vitima">APAV - Apoio à
  Vítima</a>, <a href="http://www.aipa-azores.com/">AIPA - Associação dos Imigrantes
  nos Açores</a>, <a href="http://www.amigosdosacores.pt/">Amigos dos Açores</a>,
  <a href="http://www.kairos-acores.pt/">Kairós - Cooperativa Incubação Iniciativas
  Economia Solidária,</a> <a href="https://novasrotasblog.wordpress.com/">Novas Rotas</a>,
  <a href="https://www.facebook.com/Alternativa-Associa%C3%A7%C3%A3o-Contra-as-Depend%C3%AAncias-156248567750181/">A
  Alternativa - Associação Contra as Dependências</a>, <a href="http://www.arrisca.pt/">Arrisca</a>,
  <a href="http://www.arrisca.pt/">Novo Dia - Associação para a Inclusão Social</a>,
  <a href="https://www.facebook.com/AsCoresDosAcores/">As Cores dos Açores</a> and
  <a href="https://www.facebook.com/aurorasocial/">Aurora Social</a>, we will paint
  the landscape. In the days before the Marathon, the route will be marked with watchwords
  painted in stencil, so that the streets remember: ''A COUNTRY WITHOUT CULTURE IS
  A COUNTRY WITHOUT VOICE'', ''RACISM IS NOT OPINION'', ''PROTECT THE LANDSCAPE'',
  ''MY BODY MY CHOICE'', and many more.</p>'
faqs: assets/img/wearerunningoutoftime_faqs_en.pdf
regulamento: assets/img/wearerunningoutoftime_regulamento_en_vf.pdf

---
<div class="burger">
    <button class="hamburger hamburger--squeeze" type="button">
        <span class="hamburger-box">
        <span class="hamburger-inner"></span>
        </span>
    </button>
</div>
    <div class="menu">
        <ul>
            <a href="#sobre" class="text-body"><li>ABOUT</li></a>
            <a href="#percurso" class="text-body"><li>DESCRIPTION<br>OF THE RACE</li></a>
            <a href="#pessoas" class="text-body"><li>PEOPLE WHO<br>RUN / RAN</a><p class="mini">(MINI-DOCUMENTARIES)</p></li>
            <a href="#intervenções" class="text-body"><li>PAINT THE<br>LANDSCAPE</li></a>
            <a href="https://myazorestrailrun.com/login.php?evento=3&om=1&login_bg_color=%23FF4A6E&login_logo=%2Fimg%2Flogos%2Feventos%2Fwandt_logo.png&url=http://myazorestrailrun.com/?evento=13" target="_blank" class="pink"><li>>>REGISTER<<</li></a>
            <div class="bottom-menu">
                <a href="{{ site.baseurl }}/{{ page.faqs }}" target="_blank" class="text-body"><li class="mb-1">FAQs</li></a>
                <a href="{{ site.baseurl }}/{{ page.regulamento }}" target="_blank" class="text-body"><li class="mb-1">Regulations</li></a>
                <a href="{{ site.baseurl }}/contacts" class="text-body"><li>team/contacts</li></a>
            </div>
        </ul>
    </div>


<div class="eng-link"><a href="{{ site.baseurl }}/"><h4 class="text-white">pt</h4></a></div>



<div class="mais-info hidden">
    <div class="info-box pink">
        <div class="info-close"><i class="ri-close-line"></i></div>
        <div class="info-text">
        <p>WE ARE RUNNING OUT OF TIME <br> - A MARATHON</p>
        {{ page.more_info }}
        </div>
    </div>
</div>
<main id="main-content">
<section id="hero">
    <div class="main-carousel">
        {% for item in page.imagens_home %}
        <div class="carousel-cell"><img src="{{site.baseurl}}/{{ item }}" alt=""></div>
        {% endfor %}
      </div>
</section>
<section id="sobre">
    <div class="d-lg-flex px-5 sobre">
        <div class="sobre-video">
           {{ page.sobre_vimeo }}
        </div>
        <div class="w-100 sobre-texto">
            <h4>Take Part: Marathon 24.Jul.2021<br>
                São Miguel, Azores</h4>
                <br>
            {{ page.sobre }}
            <p class="more-info">+ info</p>
        </div>
    </div>
</section>
<section id="percurso">
    <div class="d-lg-flex px-5 percurso">
        <div class="w-100 percurso-texto">
            <h4 class="text-center">DESCRIPTION OF THE RACE</h4>
            <br>
            <div class="text-center">{{ page.percurso }}</div>
            {% for item in page.descricoes_percurso reversed %}
            <div class="text-left item-km">{{ item.km }}  <i class="arrow-percurso ri-arrow-up-s-line"></i></div>
            
            <div class="text-left mt-2 item-info">{{ item.info }}</div>
            {% endfor %}
        </div>
        <div class="w-100">
            <img src="{{ page.imagem_percurso }}" alt="" class="imagem-percurso">
        </div>
    </div>

</section>
<section id="pessoas">
    <div class="d-lg-flex px-5 pessoas">
        <div class="terry">
            <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/433963372" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        </div>
        <div class="w-100 pessoas-texto">
            <h4>PEOPLE WHO<br>
                RUN / RAN</h4>
                <br>
            {{ page.pessoas }}
        </div>
    </div>
    <div class="d-lg-flex">
        <div class="marsha">
            <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/433641152" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        </div>
        <div class="pussyriot">
            <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/437207071" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        </div>
    </div>    
    <div class="elizabeth">
        <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/435789981" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    </div>
</section>
<section id="intervenções">
    <div class="d-lg-flex px-5 intervenções">
        <div class="w-100 percurso-texto">
            <h4>PAINT THE <br> LANDSCAPE</h4>
            <br>
            {{ page.intervencoes }}
        </div>
        <div class="percurso-width">
            <img src="{{ site.baseurl }}/assets/img/percurso1.webp" alt="" class="percurso-img percurso1">
        </div>
    </div>
    <div class="d-lg-flex">
        <div class="percurso-padding">
            <img src="{{ site.baseurl }}/assets/img/percurso2.webp" alt="" class="paisagem percurso-img">
        </div>
        <div class="percurso-padding">
            <img src="{{ site.baseurl }}/assets/img/percurso3.webp" alt="" class="cultura percurso-img">
        </div>
    </div> 
    <div class="percurso-padding">
    <img src="{{ site.baseurl }}/assets/img/percurso4.webp" alt="" class="bleeding percurso-img">
    </div>
    <a href="#hero" class="my-5 text-white"><p>back to top ↑</p></a>
</section>

<footer class="footer">
    <div class="socials"><p class="mb-0"><a href="https://www.instagram.com/wearerunningoutoftime2021/" target="_blank" class="text-white">instagram</a> #wearerunningoutoftime2021</p></div>
    <div class="sign-link"><a href="https://myazorestrailrun.com/login.php?evento=3&om=1&login_bg_color=%23FF4A6E&login_logo=%2Fimg%2Flogos%2Feventos%2Fwandt_logo.png&url=http://myazorestrailrun.com/?evento=13" target="_blank" class="text-white"><h4 class="mb-0">>> <span class="pink">>></span> REGISTER <span class="pink"><< </span><<</h4></a></div>
    <div class="hashtag"><p class="mb-0"><a href="{{ site.baseurl }}/{{ page.faqs }}"  target="_blank" class="text-white">FAQs</a> / <a href="{{ site.baseurl }}/{{ page.regulamento}}"  target="_blank" class="text-white">Regulations</a></p></div>
    <div class="mobile-socials"><a href="https://www.instagram.com/wearerunningoutoftime2021/" target="_blank" class="text-white">Instagram</a>  /  FAQs  / Regulations</div>
</footer>
</main>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<script>
    $('.main-carousel').flickity({
    // options
    cellAlign: 'left',
    contain: true,
    wrapAround: true,
    autoPlay: 5000
    });
</script>