---
layout: default
---
<div class="burger">
    <button class="hamburger hamburger--squeeze" type="button">
        <span class="hamburger-box">
        <span class="hamburger-inner"></span>
        </span>
    </button>
</div>
    <div class="menu">
        <ul>
            <a href="#sobre" class="text-body"><li>ABOUT<br>THE PROJECT</li></a>
            <a href="#percurso" class="text-body"><li>THE ROUTE</li></a>
            <a href="#pessoas" class="text-body"><li>PEOPLE THAT<br>RAN IN<br>THEIR TIME</a><p class="mini">(MINI-DOCUMENTÁRIOS)</p></li>
            <a href="#intervenções" class="text-body"><li>INTERVENTIONS<br>ON THE ROUTE</li></a>
            <a href="https://myazorestrailrun.com/login.php?evento=3&om=1&login_bg_color=%23FF4A6E&login_logo=%2Fimg%2Flogos%2Feventos%2Fwandt_logo.png&url=http://myazorestrailrun.com/?evento=13" target="_blank" class="pink"><li>>>SIGN UP<<</li></a>
            <div class="bottom-menu">
                <a href="{{ site.baseurl }}/{{ page.faqs }}" target="_blank" class="text-body"><li class="mb-1">FAQs</li></a>
                <a href="{{ site.baseurl }}/{{ page.regulamento }}" target="_blank" class="text-body"><li class="mb-1">Regulations</li></a>
                <a href="{{ site.baseurl }}/contacts" class="text-body"><li>team/contacts</li></a>
            </div>
        </ul>
    </div>

<div class="eng-link"><h4>en</h4></div>


<div class="mais-info hidden">
    <div class="info-box pink">
        <div class="info-close"><i class="ri-close-line"></i></div>
        <div class="info-text">
        <p>WE ARE RUNNING OUT OF TIME <br> - A MARATHON</p>
        {{ page.more_info }}
        </div>
    </div>
</div>
<main id="main-content">
<section id="hero">
    <div class="main-carousel">
        {% for item in page.imagens_home %}
        <div class="carousel-cell"><img src="{{site.baseurl}}/{{ item }}" alt=""></div>
        {% endfor %}
      </div>
</section>
<section id="sobre">
    <div class="d-lg-flex px-5 sobre">
        <div class="sobre-video">
           {{ page.sobre_vimeo }}
        </div>
        <div class="w-100 sobre-texto">
            <h4>Take Part: Marathon 24.Jul.2021<br>
                São Miguel, Azores</h4>
                <br>
            {{ page.sobre }}
            <p class="more-info">+ info</p>
        </div>
    </div>
</section>
<section id="percurso">
    <div class="d-lg-flex px-5 percurso">
        <div class="w-100 percurso-texto">
            <h4 class="text-center">THE ROUTE</h4>
            <br>
            <div class="text-center">{{ page.percurso }}</div>
            {% for item in page.descricoes_percurso reversed %}
            <div class="text-left item-km">{{ item.km }}  <i class="arrow-percurso ri-arrow-up-s-line"></i></div>
            
            <div class="text-left mt-2 item-info">{{ item.info }}</div>
            {% endfor %}
        </div>
        <div class="w-100">
            <img src="{{ page.imagem_percurso }}" alt="" class="imagem-percurso">
        </div>
    </div>

</section>
<section id="pessoas">
    <div class="d-lg-flex px-5 pessoas">
        <div class="terry">
            <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/433963372" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        </div>
        <div class="w-100 pessoas-texto">
            <h4>PEOPLE THAT RAN<br>
                IN THEIR TIME</h4>
                <br>
            {{ page.pessoas }}
        </div>
    </div>
    <div class="d-lg-flex">
        <div class="marsha">
            <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/433641152" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        </div>
        <div class="pussyriot">
            <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/437207071" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        </div>
    </div>    
    <div class="elizabeth">
        <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/435789981" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    </div>
</section>
<section id="intervenções">
    <div class="d-lg-flex px-5 intervenções">
        <div class="w-100 percurso-texto">
            <h4>INTERVENTIONS <br> ON THE ROUTE</h4>
            <br>
            {{ page.intervencoes }}
        </div>
        <div class="percurso-width">
            <img src="{{ site.baseurl }}/assets/img/percurso1.webp" alt="" class="percurso-img percurso1">
        </div>
    </div>
    <div class="d-lg-flex">
        <div class="percurso-padding">
            <img src="{{ site.baseurl }}/assets/img/percurso2.webp" alt="" class="paisagem percurso-img">
        </div>
        <div class="percurso-padding">
            <img src="{{ site.baseurl }}/assets/img/percurso3.webp" alt="" class="cultura percurso-img">
        </div>
    </div> 
    <div class="percurso-padding">
    <img src="{{ site.baseurl }}/assets/img/percurso4.webp" alt="" class="bleeding percurso-img">
    </div>
    <a href="#hero" class="my-5 text-white"><p>back to top ↑</p></a>
</section>

<footer class="footer">
    <div class="socials"><p class="mb-0"><a href="https://www.instagram.com/wearerunningoutoftime2021/" target="_blank" class="text-white">instagram</a> #wearerunningoutoftime2021</p></div>
    <div class="sign-link"><a href="https://myazorestrailrun.com/login.php?evento=3&om=1&login_bg_color=%23FF4A6E&login_logo=%2Fimg%2Flogos%2Feventos%2Fwandt_logo.png&url=http://myazorestrailrun.com/?evento=13" target="_blank" class="text-white"><h4 class="mb-0">>> <span class="pink">>></span> SIGN UPS <span class="pink"><< </span><<</h4></a></div>
    <div class="hashtag"><p class="mb-0"><a href="{{ site.baseurl }}/{{ page.faqs }}"  target="_blank" class="text-white">FAQs</a> / <a href="{{ site.baseurl }}/{{ page.regulamento}}"  target="_blank" class="text-white">Regulations</a></p></div>
    <div class="mobile-socials"><a href="https://www.instagram.com/wearerunningoutoftime2021/" target="_blank" class="text-white">Instagram</a>  /  FAQs  / Regulations</div>
</footer>
</main>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<script>
    $('.main-carousel').flickity({
    // options
    cellAlign: 'left',
    contain: true,
    wrapAround: true,
    autoPlay: 5000
    });
</script>