#hero 
    position: relative
    background-color: #FF4A6E
    padding-top: 5vh 
    z-index: 1
    width: 100vw

.logo 
    width: 25vw


.hero-img-left
    margin-left: -3vw

.hero-img-right
    margin-right: -4vw

.black-banner
    position: relative
    bottom: 0
    height: 12vh
    background-color: black
    z-index: 4
    margin-top: -3vh
/* mais info section */
.hidden
    display: none !important
.mais-info
    position: fixed
    z-index: 15
    width: 93vw
    margin-top: 4vh
    display: flex
    justify-content: center

.info-box
    background-color: white 
    border: 2px solid black
    width: 30vw
    height: 85vh
    overflow-y: scroll
    position: relative

.info-close
    position: sticky
    top: 0vw
    float: right
    font-size: 1.5vw
    padding: 1vw
.info-text
    padding: 3vw 4vw 2vw 2vw

.more-info:hover
    text-decoration: underline

/* sobre section */

#sobre
    position: relative
    background-color: black
    color: white
    text-align: center
    padding: 10vh 0
    z-index: 4
    margin-top: -3vh
    width: 100vw

.sobre-texto
    padding: 0 5vw 0 15vw

.more-info
    color: #FF4A6E

/* percurso section */

#percurso
    background-color: #FF4A6E
    padding: 10vh 0
    color: white
    text-align: center

.percurso-texto
    padding: 0 12vw 0 3vw
    margin-bottom: 10vh

/* pessoas section */
#pessoas
    background-color: black
    color: white
    text-align: center
    padding: 10vh 0

.pessoas-texto
    padding: 0 5vw 0 18.75vw

.terry
        width: 60vw
        padding-left: 5vw
.marsha
    width: 30vw
    margin-left: 20vw

.pussyriot
    width: 30vw
    margin-top: 20vh
    margin-left: 10vw

.elizabeth
    width: 30vw
    margin-left: 10vw
    margin-top: -5vh

/* intervenções section */
#intervenções
    background-color: #FF4A6E
    padding: 10vh 0
    color: white
    text-align: center

.percurso-img
    border: 2px solid black

.percurso1
    width: 37vw
    margin-right: 2vw

.paisagem
    width: 23vw
    margin-left: 22vw
    margin-top: -7vh
.cultura
    width: 23vw
    margin-left: 22vw
    margin-top: 10vh

.bleeding
    width: 23vw
    margin-right: 58vw

/* contacts section */

#contactos
    background-color: black
    color: white
    margin: 12vh 6vw

#contactos p
    font-size: 0.6em
    line-height: 1

#contactos h6 
    font-size: 0.95em
    line-height: 1

#contactos a 
    color: white
    text-decoration: underline !important


/* footer */

.footer
    background-color: black
    border: 2px solid #FF4A6E
    position: fixed
    bottom: 0
    left: 0
    width: 100vw
    color: white
    display: flex
    z-index: 20
    justify-content: space-between
    align-items: flex-end
    padding: 1vw